body { 
  background: #ffeeff;
}
.map {
  height: 600px;
  background: #ffffff;
}
.popup {
  background: #fff;
  border-radius: 4px;
  width: 240px;
  padding: 4px 12px;
  position: relative;
}
.popup-content {
}
.popup-image {
  height: 80px;
  width: 80px;
  margin: 0px 12px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: right;
}
.popup-arrow {
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -1px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
}
